# Database Import

Database: MySQL  
Library usage: sqlalchemy`pip install sqlalchemy`

## Steps
1. Extract skills
2. Extract education level
3. Store into database
4. Export the csv for backup

## Instructions
* Need to manually create the database using 'CREATE DATABASE db_name;'
* Edit the connection info in the next cell
* Can extract more information from job description by using the same pattern

In [1]:
mysql_address='localhost'
mysql_user='root'
mysql_pwd='root'
db_name='jobsdb'
table_name='computer_vision_jobs'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('../00-data/joblist_combined.csv')
df['skills']=""
df['education']=""
#df['subject']=""
df.head()

,title,company,location,description,salary,link,skills,education
0,Computer Vision Scientist/Engineer,"Expedition Technology, Inc.","Dulles, VA",Computer Vision Scientist/Engineer\r\r\n\r\r\n...,NaN,NaN,,
1,Staff Computer Vision Scientist,WeWork,"Palo Alto, CA",Research Scientist/Manager:\r\r\nComputer Visi...,NaN,https://www.glassdoor.com/partner/jobListing.h...,,
2,"Data Scientist, Deep Learning/Computer Vision",Yummly,"Redwood City, CA",Born from the belief that great things come to...,$124K-$170K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,,
3,Computer Vision Research Engineer,"Expedition Technology, Inc.","Dulles, VA",Computer Vision Research Engineer\r\r\n\r\r\nA...,NaN,NaN,,
4,Senior Software Engineer for OFP Development F...,Decisive Analytics,"Dayton, OH",Overview\r\r\n\r\r\nDECISIVE ANALYTICS Corpora...,$53K-$94K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,,

In [4]:
skill_list = ['sql', 'nosql', 'python', 'java', 'c++', 'ruby', 'r', 'julia', 'perl', 'matlab', 'mathematica', 'php', 'javascript', 'scala', 'octave', 'c/c++', 'pytorch', 'mongodb', 'mysql','js','hbase', 'cassandra', 'spark','mapreduce', 'tableau', 'sas', 'spss', 'cnn', 'kcnn', 'dcnns']
degree_list = ['bachelor', 'master', 'phd', 'bs', 'ms']

In [5]:
def extract_skills(desc_str):
    skill_ext_set=set()
    description_text = desc_str.lower()
    for skill in skill_list:
        if skill in description_text:
            skill_ext_set.add(skill)
    
    skill_set = ','.join(skill_ext_set)
    return skill_set
    
def extract_degree(desc_str):
    skill_ext_set=set()
    description_text = desc_str.lower()
    for degree in degree_list:
        if degree in description_text:
            skill_ext_set.add(degree)
    
    skill_set = ','.join(skill_ext_set)
    return skill_set
    #row['skills']=skill_set

In [10]:
df['skills']=df['description'].apply(extract_skills)
df['education']=df['description'].apply(extract_degree)
df.head()

,title,company,location,description,salary,link,skills,education
0,Computer Vision Scientist/Engineer,"Expedition Technology, Inc.","Dulles, VA",Computer Vision Scientist/Engineer\r\r\n\r\r\n...,NaN,NaN,"r,python,c/c++,julia,c++,pytorch","bs,phd,ms"
1,Staff Computer Vision Scientist,WeWork,"Palo Alto, CA",Research Scientist/Manager:\r\r\nComputer Visi...,NaN,https://www.glassdoor.com/partner/jobListing.h...,"r,python,c++","phd,ms"
2,"Data Scientist, Deep Learning/Computer Vision",Yummly,"Redwood City, CA",Born from the belief that great things come to...,$124K-$170K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,"python,r",ms
3,Computer Vision Research Engineer,"Expedition Technology, Inc.","Dulles, VA",Computer Vision Research Engineer\r\r\n\r\r\nA...,NaN,NaN,"python,r","bachelor,ms"
4,Senior Software Engineer for OFP Development F...,Decisive Analytics,"Dayton, OH",Overview\r\r\n\r\r\nDECISIVE ANALYTICS Corpora...,$53K-$94K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,r,"bs,ms"

In [7]:
from pandas.io import sql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@{address}/{db}"
                       .format(user=mysql_user,
                               pw=mysql_pwd,
                               db=db_name, address=mysql_address))
df.to_sql(con=engine, name=table_name, if_exists='replace')

In [8]:
df.to_csv('../00-data/jobdb.csv',encoding='utf-8', index=False)